{% extends 'admin/admin_base.html' %}

{% block content %}

<!-- Modal -->
<div class="modal" tabindex="-1" id="alertModal">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: white; border: none;">
            <div class="modal-header" style="border: none;">
                <h4 class="modal-title">Warning!</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: #fff;"></button>
            </div>
            <div class="modal-body" style="text-align: center;">
                <input type="text" id="testId" hidden>               <!-- deep -->
                <h4><strong style="text-transform: capitalize;"> {{user.username}}! </strong> <br><br> You are about to delete an item.</h4>
            </div>
            <div class="modal-footer">
                <a onclick="triggerDelete(event)" class="btn btn-primary" style="background: #ff3158; border: #ff3158;"> Ok </a>
            </div>
        </div>
    </div>
</div>

<script>
    function triggerDelete(event){
        let id = $('#testId').val()

        window.location.href = `/account/admin/announcement/delete/${id}/`
    }
</script>


<div class="main_content_iner overly_inner">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12">
                <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
                    <div class="page_title_left d-flex align-items-center">
                        <h3 class="f_s_25 f_w_700 dark_text mr_30">Announcements</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="white_card card_height_100 mb_30 pt-4">
                    <div class="white_card_body">
                        <div class="QA_section">
                            <div class="white_box_tittle list_header">
                                <h4>Announcement Lists</h4>
                                <div class="box_right d-flex lms_block">
                                    <div class="add_button ms-2">
                                        <a href="{% url 'new-announcement' %}" class="btn_1">Add New Announcement</a>
                                    </div>
                                </div>
                            </div>
                            <div class="QA_table mb_30">
                                <table class="table lms_table_active">

                                    {% for message in messages %}
                                        {% if message.tags != "success" %}
                                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                <strong style="text-transform: capitalize;">{{user.username}}!</strong> {{message}}.
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                            </div>    
                                        {% else %}
                                            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                                                <strong style="text-transform: capitalize;">{{user.username}}!</strong> {{message}}.
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                            </div>    
                                        {% endif %}
                                    {% endfor %}
                                                
                                    <thead>
                                        <tr>
                                            <th scope="col">Announcement</th>
                                            <th scope="col">Date Created</th>
                                            {% if user.is_superuser != False %}
                                                <th>Created By</th>
                                            {% endif %}
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for announcement in announcements %}
                                            <tr>
                                                <td><img src="data:image/webp;base64,{{announcement.event_announcement}}" alt="" width="50%" height="50px" style="border-radius: 10px;"></td>
                                                <td>{{announcement.date_created}}</td>
                                                {% if user.is_superuser != False %}
                                                    <td>{{announcement.created_by}}</td>
                                                {% endif %}
                                                <td>
                                                    <div class="action_btns d-flex">
                                                        <a href="{% url 'update-announcement' announcement.id %}" class="action_btn mr_10"> <i class="far fa-edit"></i> </a>
                                                        <a href="" class="action_btn" onclick="showAlert(event, '{{announcement.id}}')"> <i class="fas fa-trash"></i> </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}