{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="page-header bg-light-gray has-shapes has-bg-brash bg-brash-bottom" style="background-image: url({% static 'images/brushes/banner.svg' %})">
    <div class="container h-100">
        <div class="row d-flex align-items-center h-100">
            <div class="col-md-12 text-center">
                <h2 class="h1 font-weight-bold">Error</h2>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="col-xs-" style="text-align: center; margin-top: 100px;">
        <h1 style="font-size: 70px; font-weight: bolder;">Oops!</h1> <br>
        <p style="text-transform: capitalize; font-weight: bold;">404 - page not found</p> <br>
        <p>The page you are looking for might have been removed, <br> had its name changed or is temporarily unavailable.</p>

        <br><br>
        <a href="{% url 'home' %}" class="btn btn-lg btn-secondary" style="background-color: #ff1843 !important;">Go back to homepage</a>
    </div>  
</div>
<br><br><br><br><br>

{% endblock %}