{% extends 'admin_base.html' %}

{% block content %}

<div class="main_content_iner overly_inner">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12">
                <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
                    <div class="page_title_left d-flex align-items-center">
                        <h3 class="f_s_25 f_w_700 dark_text mr_30">Twelve Pillars</h3>
                    </div>
                    <div class="page_title_right">
                        <div class="page_date_button d-flex align-items-center">
                            <img src="img/icon/calender_icon.svg" alt />
                            August 1, 2020 - August 31, 2020
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="white_card card_height_100 mb_30 pt-4">
                    <div class="white_card_body">
                        <div class="QA_section">
                            <div class="white_box_tittle list_header">
                                <h4>Members of the Twelve Pillars</h4>
                                <div class="box_right d-flex lms_block">
                                    <div class="add_button ms-2">
                                        <a href="{% url 'new-twelve-pillar' %}" class="btn_1">Add New Member</a>
                                    </div>
                                </div>
                            </div>
                            <div class="QA_table mb_30">
                                <table class="table lms_table_active">
                                    <thead>
                                        <tr>
                                            <th scope="col">id</th>
                                            <th scope="col">User</th>
                                            <th scope="col">Username</th>
                                            <th scope="col">Email Address</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row"><a href="#" class="question_content"> 1 </a></th>
                                            <td>Hayden</td>
                                            <td>Hayden</td>
                                            <td><a href="https://demo.dashboardpack.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="5c2b332e37686c651c3b313d3530723f3331">[email&#160;protected]</a></td>
                                            <td><a href="#">Admin</a></td>
                                            <td><a href="#" class="status_btn">Active</a></td>
                                            <td>
                                                <div class="action_btns d-flex">
                                                    <a href="#" class="action_btn mr_10"> <i class="far fa-edit"></i> </a>
                                                    <a href="#" class="action_btn"> <i class="fas fa-trash"></i> </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><a href="#" class="question_content"> 1 </a></th>
                                            <td>Hayden</td>
                                            <td>Hayden</td>
                                            <td><a href="https://demo.dashboardpack.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="dea9b1acb5eaeee79eb9b3bfb7b2f0bdb1b3">[email&#160;protected]</a></td>
                                            <td><a href="#">Admin</a></td>
                                            <td><a href="#" class="status_btn">Active</a></td>
                                            <td>
                                                <div class="action_btns d-flex">
                                                    <a href="#" class="action_btn mr_10"> <i class="far fa-edit"></i> </a>
                                                    <a href="#" class="action_btn"> <i class="fas fa-trash"></i> </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><a href="#" class="question_content"> 1 </a></th>
                                            <td>Hayden</td>
                                            <td>Hayden</td>
                                            <td><a href="https://demo.dashboardpack.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="13647c617827232a53747e727a7f3d707c7e">[email&#160;protected]</a></td>
                                            <td><a href="#">Admin</a></td>
                                            <td><a href="#" class="status_btn">Active</a></td>
                                            <td>
                                                <div class="action_btns d-flex">
                                                    <a href="#" class="action_btn mr_10"> <i class="far fa-edit"></i> </a>
                                                    <a href="#" class="action_btn"> <i class="fas fa-trash"></i> </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><a href="#" class="question_content"> 1 </a></th>
                                            <td>Hayden</td>
                                            <td>Hayden</td>
                                            <td><a href="https://demo.dashboardpack.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="13647c617827232a53747e727a7f3d707c7e">[email&#160;protected]</a></td>
                                            <td><a href="#">Admin</a></td>
                                            <td><a href="#" class="status_btn">Active</a></td>
                                            <td>
                                                <div class="action_btns d-flex">
                                                    <a href="#" class="action_btn mr_10"> <i class="far fa-edit"></i> </a>
                                                    <a href="#" class="action_btn"> <i class="fas fa-trash"></i> </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><a href="#" class="question_content"> 1 </a></th>
                                            <td>Hayden</td>
                                            <td>Hayden</td>
                                            <td><a href="https://demo.dashboardpack.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="83f4ecf1e8b7b3bac3e4eee2eaefade0ecee">[email&#160;protected]</a></td>
                                            <td><a href="#">Admin</a></td>
                                            <td><a href="#" class="status_btn">Active</a></td>
                                            <td>
                                                <div class="action_btns d-flex">
                                                    <a href="#" class="action_btn mr_10"> <i class="far fa-edit"></i> </a>
                                                    <a href="#" class="action_btn"> <i class="fas fa-trash"></i> </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><a href="#" class="question_content"> 1 </a></th>
                                            <td>Hayden</td>
                                            <td>Hayden</td>
                                            <td><a href="https://demo.dashboardpack.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="82f5edf0e9b6b2bbc2e5efe3ebeeace1edef">[email&#160;protected]</a></td>
                                            <td><a href="#">Admin</a></td>
                                            <td><a href="#" class="status_btn">Active</a></td>
                                            <td>
                                                <div class="action_btns d-flex">
                                                    <a href="#" class="action_btn mr_10"> <i class="far fa-edit"></i> </a>
                                                    <a href="#" class="action_btn"> <i class="fas fa-trash"></i> </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><a href="#" class="question_content"> 1 </a></th>
                                            <td>Hayden</td>
                                            <td>Hayden</td>
                                            <td><a href="https://demo.dashboardpack.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="2f58405d441b1f166f48424e4643014c4042">[email&#160;protected]</a></td>
                                            <td><a href="#">Admin</a></td>
                                            <td><a href="#" class="status_btn">Active</a></td>
                                            <td>
                                                <div class="action_btns d-flex">
                                                    <a href="#" class="action_btn mr_10"> <i class="far fa-edit"></i> </a>
                                                    <a href="#" class="action_btn"> <i class="fas fa-trash"></i> </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}