{% load static %}
<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <title>Omotola Cathedral</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">

    <!-- ** Plugins Needed for the Project ** -->    
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/themify-icons/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/slick/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/aos/aos.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!--Favicon-->
    <link rel="shortcut icon" href="{% static 'images/celestial_favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/celestial_favicon.png' %}" type="image/x-icon">
</head>
<body id="top" data-spy="scroll" data-target="#navbar-spy" class="position-relative">

    <!-- start of preloader -->
    <div class="preloader position-fixed d-flex align-items-center justify-content-center">
        <div class="block">
            <div class="loader-image mb-20">
                <img src="{% static 'images/celestial_preloader.png' %}" style="width: 70%; height: auto;" alt="celestial">
            </div>
            <div class="loader-text text-uppercase">
                <span class="mb-1">Welcome to</span>
                <span>Omotola Cathedral</span>
            </div>
        </div>
    </div>
    <!-- end of preloader -->
  
<!-- start of header -->
<header class="header-nav position-relative bg-light-gray">
    <div class="container">
        <nav class="navbar navbar-expand-xl navbar-light px-0">
            <a class="navbar-brand p-0" id="logo" href="{% url 'home' %}" style="margin-right: 0px; min-width: 120px; max-width: 200px;">
                <img class="img-fluid" id="cele_logo" src="{% static 'images/logo.png' %}" style="width: 50%; height: auto;" alt="celestial">
            </a>
            <!-- logo -->

            <button class="navbar-toggler bg-white rounded-0 p-0" type="button" data-toggle="collapse" data-target="#navlinks" aria-controls="navlinks" aria-expanded="false" aria-label="Toggle navigation">
                <svg class="nav-toggle-icon" viewBox="0 0 100 100" width="40" onclick="this.classList.toggle('active')"><path class="line top" d="m 70,33 h -40 c 0,0 -8.5,-0.149796 -8.5,8.5 0,8.649796 8.5,8.5 8.5,8.5 h 20 v -20" /><path class="line middle" d="m 70,50 h -40" /><path class="line bottom" d="m 30,67 h 40 c 0,0 8.5,0.149796 8.5,-8.5 0,-8.649796 -8.5,-8.5 -8.5,-8.5 h -20 v 20" /></svg>
            </button>
            <!-- mobile-nav control button -->
            
            <div class="collapse navbar-collapse" id="navlinks">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item @@about">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item @@service">
                        <a class="nav-link" href="{% url 'services' %}">Service</a>
                    </li>
                    <li class="nav-item @@testimonials">
                        <a class="nav-link" href="{% url 'testimonies' %}">Testimonies</a>
                    </li>
                    <li class="nav-item dropdown @@pricing">
                        <a class="nav-link dropdown-toggle d-flex justify-content-between align-items-center" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-1">Gallery</span>
                            <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 1.06L7.94 0L4.5 3.44L1.06 0L0 1.06L4.5 5.56L9 1.06Z" fill="currentColor"/></svg>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item @@pricingOne" href="#">Pictures</a></li>
                            <li><a class="dropdown-item @@pricingTwo" href="#">Videos</a></li>
                        </ul>
                    </li>
                    <li class="nav-item @@contact">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li class="nav-item dropdown @@pages">
                        <a class="nav-link dropdown-toggle d-flex justify-content-between align-items-center" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-1">Pages</span>
                            <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 1.06L7.94 0L4.5 3.44L1.06 0L0 1.06L4.5 5.56L9 1.06Z" fill="currentColor"/></svg>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item @@howItWorks" href="{% url 'four-corners' %}">The Four Corners</a></li>
                            <li><a class="dropdown-item @@team" href="{% url 'twelve-pillars' %}">The Twelve Pillars</a></li>
                            <li><a class="dropdown-item @@team" href="#">Sermon Excerpts</a></li>
                            <!-- <li class="sub-dropdown @@career">
                                <a class="dropdown-item dropdown-toggle d-flex justify-content-between align-items-center" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span>Career</span>
                                    <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 1.06L7.94 0L4.5 3.44L1.06 0L0 1.06L4.5 5.56L9 1.06Z" fill="currentColor"/></svg>
                                </a>
                                <ul class="dropdown-submenu">
                                    <li><a class="dropdown-item @@careerPage" href="career.html">Career</a></li>
                                    <li><a class="dropdown-item @@jobDetails" href="job-details.html">Job Details</a></li>
                                </ul>
                            </li> -->
                            <!-- <li class="sub-dropdown @@blogs">
                                <a class="dropdown-item dropdown-toggle d-flex justify-content-between align-items-center" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span>Blogs</span>
                                    <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 1.06L7.94 0L4.5 3.44L1.06 0L0 1.06L4.5 5.56L9 1.06Z" fill="currentColor"/></svg>
                                </a>
                                <ul class="dropdown-submenu">
                                    <li><a class="dropdown-item @@blog" href="blog.html">Blog</a></li>
                                    <li><a class="dropdown-item @@blogDetails" href="blog-details.html">Blog Details</a></li>
                                </ul>
                            </li> -->
                            <!-- <li><a class="dropdown-item @@terms" href="terms.html">Terms & Condition</a></li>
                            <li><a class="dropdown-item @@privacy" href="privacy.html">Privacy Policy</a></li>
                            <li><a class="dropdown-item @@faq" href="faq.html">FAQ</a></li>
                            <li><a class="dropdown-item @@changelog" href="changelog.html">Changelog</a></li> -->
                        </ul>
                    </li>
                </ul>

                <!-- <div class="navbar-button">
                    <button class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#signup-modal">Sign Up</button>
                    <button class="btn btn-sm btn-link pr-xl-0" data-toggle="modal" data-target="#signin-modal">Log in<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/></svg></button>
                </div> -->
            </div>
            <!-- nav links -->
        </nav>
    </div>
</header>
<!-- end of header -->

{% block content %}

{% endblock %}

<!-- start footer -->
<footer class="bg-light-gray has-shapes has-bg-brash bg-brash-top " style="background-image: url({% static 'images/brushes/footer.svg' %})">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-12">
                <div class="text-center pb-60">
                    <h2 class="section-title">Join the beloved that partake in Our <strong>Daily Devotional Message</strong></h2>
                    <form action="{% url 'devotional-letter' %}" method="POST" class="needs-validation mt-30" novalidate>
                        {% csrf_token %}

                        <div class="input-group">
                            <input type="email" class="form-control bg-gray" name="devotional_email" placeholder="Your email address" required>
                            <div class="input-group-append ml-0">
                                <button type="submit" class="btn btn-primary"><svg width="31" height="16" viewBox="0 0 31 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M30.7071 8.70808C31.0976 8.31756 31.0976 7.68439 30.7071 7.29387L24.3431 0.929909C23.9526 0.539384 23.3195 0.539384 22.9289 0.929909C22.5384 1.32043 22.5384 1.9536 22.9289 2.34412L28.5858 8.00098L22.9289 13.6578C22.5384 14.0484 22.5384 14.6815 22.9289 15.072C23.3195 15.4626 23.9526 15.4626 24.3431 15.072L30.7071 8.70808ZM0 9.00098H30V7.00098H0V9.00098Z" fill="white"/></svg></button>
                            </div>
                        </div>
                    </form>

                    <!-- <a href="contact.html" class="btn btn-primary has-icon" style="border-radius: 20px;">Get Started With Us
                        <span class="icon" style="border-radius: 0px 20px 20px 0px;"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.5522 6.66669L20.5522 14.6667C21.0329 15.1473 21.0699 15.9036 20.6632 16.4267L20.5522 16.5523L12.5522 24.5523L10.6666 22.6667L17.7228 15.6095L10.6666 8.55231L12.5522 6.66669Z" fill="currentColor"/></svg></span>
                    </a> -->
                </div>
            </div>

            <div class="col-12" style="padding: 20px 0px;">
                <div class="border-bottom"></div>
            </div>
        </div>
        <div class="row pt-60 pb-60">
            <div class="col-lg-4 col-md-6">
                <div class="pr-0 pr-lg-4">
                    <a href="{% url 'home' %}"><img class="mb-25" src="{% static 'images/logo.png' %}" style="width: 40%; height: auto;" alt="omotola cathedral"></a>
                    <p style="padding-bottom: 30px;">
                        Join us in our journey of worship, service, and fellowship.
                        Together, let us illuminate the world with the light of God's grace - Matthew 5:14-16
                    </p>
                

                    <a href="https://www.facebook.com/cccomotolaparish/?_rdc=1&_rdr">
                        <svg class="social-media" fill="#000" style="padding: 10px; border: 1px solid rgb(190, 190, 190); border-radius: 9px;" width="40px" height="40px" viewBox="0 0 512 512" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg">
                            <path d="M480,257.35c0-123.7-100.3-224-224-224s-224,100.3-224,224c0,111.8,81.9,204.47,189,221.29V322.12H164.11V257.35H221V208c0-56.13,33.45-87.16,84.61-87.16,24.51,0,50.15,4.38,50.15,4.38v55.13H327.5c-27.81,0-36.51,17.26-36.51,35v42h62.12l-9.92,64.77H291V478.66C398.1,461.85,480,369.18,480,257.35Z" fill-rule="evenodd"/>
                        </svg>
                    </a>
                    
                    <a href="https://www.instagram.com/cccomotola/?hl=en">
                        <svg class="social-media" fill="#000000" style="margin: 0px 12px 0px 12px; padding: 10px; border: 1px solid rgb(190, 190, 190); border-radius: 9px;" width="40px" height="40px" viewBox="0 0 32 32" id="Camada_1" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g>
                            <path d="M22.3,8.4c-0.8,0-1.4,0.6-1.4,1.4c0,0.8,0.6,1.4,1.4,1.4c0.8,0,1.4-0.6,1.4-1.4C23.7,9,23.1,8.4,22.3,8.4z"/>
                            <path d="M16,10.2c-3.3,0-5.9,2.7-5.9,5.9s2.7,5.9,5.9,5.9s5.9-2.7,5.9-5.9S19.3,10.2,16,10.2z M16,19.9c-2.1,0-3.8-1.7-3.8-3.8   c0-2.1,1.7-3.8,3.8-3.8c2.1,0,3.8,1.7,3.8,3.8C19.8,18.2,18.1,19.9,16,19.9z"/>
                            <path d="M20.8,4h-9.5C7.2,4,4,7.2,4,11.2v9.5c0,4,3.2,7.2,7.2,7.2h9.5c4,0,7.2-3.2,7.2-7.2v-9.5C28,7.2,24.8,4,20.8,4z M25.7,20.8   c0,2.7-2.2,5-5,5h-9.5c-2.7,0-5-2.2-5-5v-9.5c0-2.7,2.2-5,5-5h9.5c2.7,0,5,2.2,5,5V20.8z"/>
                            </g>
                        </svg>
                    </a>

                    <a href="https://www.youtube.com/channel/UCtgW-Dr-V7VOh71-PEM-jTQ">
                        <svg class="social-media" style="margin: 0px 12px 0px 0px; padding: 7px; border: 1px solid rgb(190, 190, 190); border-radius: 9px;" width="40px" height="40px" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg">
                            <g fill="#000000" fill-rule="evenodd" >
                            <path d="M36,72 L36,72 C55.882251,72 72,55.882251 72,36 L72,36 C72,16.117749 55.882251,-3.65231026e-15 36,0 L36,0 C16.117749,3.65231026e-15 -2.4348735e-15,16.117749 0,36 L0,36 C2.4348735e-15,55.882251 16.117749,72 36,72 Z" fill="#fff"/>
                            <path d="M31.044,42.269916 L31.0425,28.6877416 L44.0115,35.5022437 L31.044,42.269916 Z M59.52,26.3341627 C59.52,26.3341627 59.0505,23.003199 57.612,21.5363665 C55.7865,19.610299 53.7405,19.6012352 52.803,19.4894477 C46.086,19 36.0105,19 36.0105,19 L35.9895,19 C35.9895,19 25.914,19 19.197,19.4894477 C18.258,19.6012352 16.2135,19.610299 14.3865,21.5363665 C12.948,23.003199 12.48,26.3341627 12.48,26.3341627 C12.48,26.3341627 12,30.2467232 12,34.1577731 L12,37.8256098 C12,41.7381703 12.48,45.6492202 12.48,45.6492202 C12.48,45.6492202 12.948,48.9801839 14.3865,50.4470165 C16.2135,52.3730839 18.612,52.3126583 19.68,52.5135736 C23.52,52.8851913 36,53 36,53 C36,53 46.086,52.9848936 52.803,52.4954459 C53.7405,52.3821478 55.7865,52.3730839 57.612,50.4470165 C59.0505,48.9801839 59.52,45.6492202 59.52,45.6492202 C59.52,45.6492202 60,41.7381703 60,37.8256098 L60,34.1577731 C60,30.2467232 59.52,26.3341627 59.52,26.3341627 L59.52,26.3341627 Z" fill="#000"/>
                            </g>
                        </svg>
                    </a>

                    <a href="mailto:omotolacathedralipaja@gmail.com">
                        <svg class="social-media" style="padding: 12px; border: 1px solid rgb(190, 190, 190); border-radius: 9px;" width="40px" height="40px" viewBox="0 -4 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                                <g id="Icon-Set" sketch:type="MSLayerGroup" transform="translate(-412.000000, -259.000000)" fill="#000000">
                                    <path d="M442,279 C442,279.203 441.961,279.395 441.905,279.578 L433,270 L442,263 L442,279 L442,279 Z M415.556,280.946 L424.58,271.33 L428,273.915 L431.272,271.314 L440.444,280.946 C440.301,280.979 415.699,280.979 415.556,280.946 L415.556,280.946 Z M414,279 L414,263 L423,270 L414.095,279.578 C414.039,279.395 414,279.203 414,279 L414,279 Z M441,261 L428,271 L415,261 L441,261 L441,261 Z M440,259 L416,259 C413.791,259 412,260.791 412,263 L412,279 C412,281.209 413.791,283 416,283 L440,283 C442.209,283 444,281.209 444,279 L444,263 C444,260.791 442.209,259 440,259 L440,259 Z" id="mail" sketch:type="MSShapeGroup">
                                    </path>
                                </g>
                            </g>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md col-sm-6">
                <div class="pl-0 pl-md-3 mt-5 mt-md-0">
                    <h4 class="font-weight-600 mb-20">Quick Links</h4>
                    <ul class="list-unstyled footer-links">
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'services' %}">Service</a></li>
                        <li><a href="#">Gallery</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md col-sm-6">
                <div class="pl-0 pl-md-3 mt-5 mt-md-0">
                    <h4 class="font-weight-600 mb-20" style="visibility: hidden;">Social Links</h4>
                    <ul class="list-unstyled footer-links">
                        {% if event.service_display %}
                    <li><a href="{{event.service_display}}">Watch Live Service</a></li>
                        {% else %}
                        <li>No Live Service</li>
                        {% endif %}                      
                        <li><a href="{% url 'testimonies' %}">Testimonies</a></li>
                        <li><a href="#">Sermon Excerpts</a></li>
                        <li><a href="{% url 'twelve-pillars' %}">The Twelve Pillars</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="pl-0 pl-lg-4 mt-5 mt-lg-0">
                    <h3 class="font-weight-600" style="text-align: center; padding-bottom: 10px;">Prayer Request</h3>
                    <!-- <form action="#" method="post" class="needs-validation mt-30" novalidate>
                        <div class="input-group">
                            <input type="email" class="form-control bg-gray" placeholder="Your email address" required>
                            <div class="input-group-append ml-0">
                                <button type="submit" class="btn btn-primary"><svg width="31" height="16" viewBox="0 0 31 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M30.7071 8.70808C31.0976 8.31756 31.0976 7.68439 30.7071 7.29387L24.3431 0.929909C23.9526 0.539384 23.3195 0.539384 22.9289 0.929909C22.5384 1.32043 22.5384 1.9536 22.9289 2.34412L28.5858 8.00098L22.9289 13.6578C22.5384 14.0484 22.5384 14.6815 22.9289 15.072C23.3195 15.4626 23.9526 15.4626 24.3431 15.072L30.7071 8.70808ZM0 9.00098H30V7.00098H0V9.00098Z" fill="white"/></svg></button>
                            </div>
                        </div>
                    </form> -->

                    <form action="{% url 'prayer-request' %}" method="POST" class="needs-validation rounded shadow p-25" novalidate>
                        {% csrf_token %}

                        <div class="form-group mb-10">
                            <input class="form-control shadow-none" type="text" name="name" placeholder="Full name" id="fname" required>
                            <p class="font-weight-bold invalid-feedback">Your name is required!</p>
                        </div>
                        <div class="form-group mb-10">
                            <input class="form-control shadow-none" type="email" name="email" placeholder="Email" id="email" required>
                            <p class="font-weight-bold invalid-feedback">Your email is required!</p>
                        </div>
                        <div class="form-group mb-10">
                            <textarea class="form-control shadow-none" name="message" placeholder="Message" rows="2" id="message" required></textarea>
                            <p class="font-weight-bold invalid-feedback">Your prayer message is required!</p>
                        </div>
                        <button class="btn btn-primary w-100" type="submit">Send</button>
                        <!-- <div class="form-group mb-10">
                            <select name="country" id="" class="form-control shadow-none">
                                <option value="">Select your country</option>
                                <option value="nigeria">Nigeria</option>
                            </select>
                            <p class="font-weight-bold valid-feedback">Your country is required!</p>
                        </div> -->
                        <!-- <div class="form-group mb-10">
                            <input class="form-control shadow-none" type="tel" placeholder="Phone number">
                            <p class="font-weight-bold valid-feedback">OK! You can skip this field.</p>
                        </div> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="block border-top text-center content">
                        &copy; 2024 Omotola Cathedral. All Rights Reserved. Designed & Developed by Omotola Cathedral IT Team</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- end footer -->

<!-- start of videoModal -->
<div class="modal fade rounded" id="videoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body p-0 bg-transparent">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="#" id="showVideo"  allowscriptaccess="always" allow="autoplay"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of videoModal -->

<!-- strat scroll to top -->
<a href="#top" class="btn btn-primary scroll-to-top-btn smooth-scroll position-fixed" style="border-radius: 10px;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path id="Layer" fill="currentColor" d="M7.2 19.2L15.2 11.2C15.68 10.71 16.43 10.68 16.96 11.08L17.08 11.2L25.08 19.2L23.2 21.08L16.14 14.02L9.08 21.08L7.2 19.2Z"/></svg></a>
<!-- end scroll to top -->

<!-- Plugins Needed for the Project -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="{% static 'plugins/jQuery/jquery.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/slick/slick.min.js' %}"></script>
<script src="{% static 'plugins/shuffle/shuffle.min.js' %}"></script>
<script src="{% static 'plugins/aos/aos.js' %}"></script>

<!-- Main Script -->
<script src="{% static 'js/script.js' %}"></script>

</body>

<!-- Mirrored from demo.themefisher.com/copper-bootstrap/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 10 Feb 2024 14:17:54 GMT -->
</html>