{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- start of page-header -->
<section class="page-header bg-light-gray has-shapes has-bg-brash bg-brash-bottom" style="background-image: url({% static 'images/brushes/banner.svg' %})">
    <div class="container h-100">
        <div class="row d-flex align-items-center h-100">
            <div class="col-md-12 text-center">
                <h2 class="h1 font-weight-bold">The Four Corners</h2>
            </div>
        </div>
    </div>

</section>
<!-- end of page-header -->

<!-- start of section -->
<section class="section-padding pb-0">
    <div class="container">
        <div class="row align-items-center justify-content-around">
            <div class="col-lg-7" data-aos="fade-up" data-aos-delay="150">
                <img class="img-fluid rounded-lg shadow" src="{% static 'images/four-corners/media-unit.webp' %}" alt="Evangelism" style="border-radius: 15px !important;">
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-in">
                <h2 class="section-title"> <strong>Evangelism</strong></h2>
                <p class="mb-30 text-justify">We spread the Good News and share the transformative power of God's grace through our evangelism initiatives. Join us in spreading the Good News of salvation, sharing God's love, and inviting souls to experience His transformative grace.</p>
            </div>
        </div>
    </div>
</section>
<!-- end of section -->

<!-- start of brand-carousel -->
<section class="section-padding overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-md-12" data-aos="fade-left">
                <div class="brand-carousel">
                    <div class="brand-item d-flex align-items-center justify-content-center">
                        <img class="img-fluid" src="{% static 'images/organizations/omotola-cathedral.webp' %}" alt="omotola-cathedral"></div>
                    <div class="brand-item d-flex align-items-center justify-content-center">
                        <img class="img-fluid" src="{% static 'images/organizations/paradise-global.webp' %}" alt="paradise-global"></div>
                    <div class="brand-item d-flex align-items-center justify-content-center">
                        <img class="img-fluid" src="{% static 'images/organizations/luli-concert.webp' %}" alt="luli-concert"></div>
                    <div class="brand-item d-flex align-items-center justify-content-center">
                        <img class="img-fluid" src="{% static 'images/organizations/ghana-hq.webp' %}" alt="ghana-hq"></div>
                    <div class="brand-item d-flex align-items-center justify-content-center">
                        <img class="img-fluid" src="{% static 'images/organizations/ogbomoso-hq.webp' %}" alt="ogbomoso-hq"></div>
                    <div class="brand-item d-flex align-items-center justify-content-center">
                        <img class="img-fluid" src="{% static 'images/organizations/sharon-parish.webp' %}" alt="sharon-parish"></div>
                    <div class="brand-item d-flex align-items-center justify-content-center">
                        <img class="img-fluid" src="{% static 'images/organizations/ikorodu-road.webp' %}" alt="ikorodu"></div>
                    <div class="brand-item d-flex align-items-center justify-content-center">
                        <img class="img-fluid" src="{% static 'images/organizations/omotola-cathedral.webp' %}" alt="omotola-cathedral"></div>
                    <div class="brand-item d-flex align-items-center justify-content-center">
                        <img class="img-fluid" src="{% static 'images/organizations/seminary.webp' %}" alt="seminary"></div>
                    <div class="brand-item d-flex align-items-center justify-content-center">
                        <img class="img-fluid" src="{% static 'images/organizations/genesis-global.webp' %}" alt="genesis-global"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of brand-carousel -->

<!-- start of section -->
<section class="section-padding pb-0 image-info-section has-shapes bg-light-gray has-bg-brash bg-brash-y" style="background-image: url({% static 'images/brushes/section-top.svg' %}), url({% static 'images/brushes/section-bottom.svg' %});">
    <br><br>
    <div class="container">
        <div class="row align-items-center justify-content-around">
            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-in">
                <h2 class="section-title"> <strong>Prophetic</strong></h2>
                <p class="mb-30 text-justify">
                    We explore the prophetic words and divine guidance to navigate life's journey with clarity, purpose, and spiritual insight. Embrace this divine revelation!
                </p>
            </div>
            <div class="col-lg-7" data-aos="fade-up" data-aos-delay="150">
                <img class="img-fluid rounded-lg shadow" src="{% static 'images/four-corners/prophetic.webp' %}" alt="Prophet" style="border-radius: 15px !important;">
            </div>
        </div>
    </div>
    <br><br><br><br><br>
</section>    
<!-- end of section -->

<!-- start of section -->
<section class="pt-50 pb-50"><br>
    <div class="container">
        <div class="row align-items-center justify-content-around">
            <div class="col-lg-7" data-aos="fade-up">
                <img class="img-fluid" src="{% static 'images/four-corners/choir.webp' %}" alt="choir" style="border-radius: 15px !important;">
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-in">
                <h2 class="section-title"><strong>Choir</strong></h2>
                <p class="mb-30 text-justify">We raise our voices in praise and harmony to the Almighty, uplifting hearts and souls through sacred melodies that resonate with divine grace.</p>
            </div>
        </div>
    </div><br>
</section>
<!-- end of section -->

<!-- start of section -->
<section class="section-padding pb-0 image-info-section has-shapes bg-light-gray has-bg-brash bg-brash-y" style="background-image: url({% static 'images/brushes/section-top.svg' %}), url({% static 'images/brushes/section-bottom.svg' %});">
    <br><br>
    <div class="container">
        <div class="row align-items-center justify-content-around">
            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-in">
                <h2 class="section-title"> <strong>Sidemen & Sidewomen</strong></h2>
                <p class="text-justify">
                    We upholds the sanctity of worship, ensures the sanctuary remains a sacred space and allowing hearts and minds 
                    to be fully engaged in spiritual reflection, prayer, and communion with the divine during their time of devotion.
                </p>
            </div>
            <div class="col-lg-7" data-aos="fade-up" data-aos-delay="150">
                <img class="img-fluid rounded-lg shadow" src="{% static 'images/four-corners/sidemen.webp' %}" alt="sidemen" style="border-radius: 15px !important;">
            </div>
        </div>
    </div>
    <br><br><br><br><br>
</section>
<!-- end of section -->

{% endblock %}