{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- Modal -->

{% if announcement %}
    <div class="modal" tabindex="-1" id="exampleModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="background-color: transparent; border: none;">
                <div class="modal-header" style="border: none;">
                    <h5 class="modal-title" style="visibility: hidden;">Announcement</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: #fff;"></button>
                </div>
                <div class="modal-body">
                    <!-- <iframe src="https://drive.google.com/file/d/1-SJUvYnGM-wv3dsqopSDhD6rQ3mtX0b7/preview" width="100%" height="400" allow="autoplay"></iframe> -->
                    <img src="data:image/webp;base64,{{announcement.event_announcement}}" width="100%" height="auto" alt="announcement" style="border-radius: 10px;">
                </div>
                <div class="modal-footer" style="visibility: hidden;">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<!-- start of banner -->
<section class="banner bg-cover-bottom has-shapes bg-light-gray has-bg-brash bg-brash-bottom" style="background-image: url({% static 'images/brushes/banner.svg' %})" data-aos="fade-in" data-aos-delay="150">
    <div class="container h-100">
        <div class="d-block d-lg-flex no-gutters align-items-center h-100">
            <div class="col-12 col-xl-8 col-lg-8 order-lg-1">
                <div class="banner-image has-video-popup has-shapes mb-4 mb-md-5 mb-lg-0">
                    
                    {% if event.service_display %}
                    <button type="button" class="video-play-btn" data-toggle="modal" data-src="{{event.service_display}}" data-target="#videoModal"><svg width="1.8em" height="1.8em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/></svg></button>
                    {% else %}
                    <button type="button" class="video-play-btn" data-toggle="modal" data-src="{{event.periodic_display}}" data-target="#videoModal"><svg width="1.8em" height="1.8em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/></svg></button>
                    {% endif %}

                    <img class="img-fluid" src="{% static 'images/index/omotola.webp' %}" alt="omotola-cathedral" style="height: auto; width: 100%;">
                    
                </div>
            </div>


            <div class="col-xl-5 col-lg-6 order-lg-0">
                <h2 class="h1 mb-20">Love the Lord in all things <strong>Like Never Before</strong></h2>
                <p style="font-size: 20px;">
                    "And we know that in all things God works for the good of those who love him..." - Romans 8:28
                </p>
            </div>
        </div>
    </div>
    
    
</section>
<!-- end of banner -->

<!-- start of brand-carousel -->
<section class="section-padding overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-md-12" data-aos="fade-left">
                <div class="brand-carousel">
                    <div class="brand-item d-flex align-items-center justify-content-center">
                        <img class="img-fluid" src="{% static 'images/organizations/omotola-cathedral.webp' %}" alt="omotola-cathedral"></div>
                    <div class="brand-item d-flex align-items-center justify-content-center">
                        <img class="img-fluid" src="{% static 'images/organizations/paradise-global.webp' %}" alt="paradise-global"></div>
                    <div class="brand-item d-flex align-items-center justify-content-center">
                        <img class="img-fluid" src="{% static 'images/organizations/luli-concert.webp' %}" alt="luli-concert"></div>
                    <div class="brand-item d-flex align-items-center justify-content-center">
                        <img class="img-fluid" src="{% static 'images/organizations/ghana-hq.webp' %}" alt="ghana-hq"></div>
                    <div class="brand-item d-flex align-items-center justify-content-center">
                        <img class="img-fluid" src="{% static 'images/organizations/ogbomoso-hq.webp' %}" alt="ogbomoso-hq"></div>
                    <div class="brand-item d-flex align-items-center justify-content-center">
                        <img class="img-fluid" src="{% static 'images/organizations/sharon-parish.webp' %}" alt="sharon-parish"></div>
                    <div class="brand-item d-flex align-items-center justify-content-center">
                        <img class="img-fluid" src="{% static 'images/organizations/ikorodu-road.webp' %}" alt="ikorodu"></div>
                    <div class="brand-item d-flex align-items-center justify-content-center">
                        <img class="img-fluid" src="{% static 'images/organizations/omotola-cathedral.webp' %}" alt="omotola-cathedral"></div>
                    <div class="brand-item d-flex align-items-center justify-content-center">
                        <img class="img-fluid" src="{% static 'images/organizations/seminary.webp' %}" alt="seminary"></div>
                    <div class="brand-item d-flex align-items-center justify-content-center">
                        <img class="img-fluid" src="{% static 'images/organizations/genesis-global.webp' %}" alt="genesis-global"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of brand-carousel -->

<!-- start of how-it-works tab -->
<section class="section-padding how-it-works-tab pt-0 overflow-hidden">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-9 text-center mb-40">
                <h2 class="section-title"><strong>The four corners</strong></h2>
                <p style="font-size: 18px;">Discover the heartbeat of Omotola Cathedral</p>
            </div>
            <div class="col-lg-11">
                <ul class="nav nav-pills justify-content-center mb-20" id="pills-tab" role="tablist">
                    <li class="nav-item mb-20" role="presentation">
                        <a class="nav-link active" id="pill-management-tab" data-toggle="pill" href="#management-tab" role="tab" aria-controls="management-tab" aria-selected="true">
                            <i class="circle-shape"></i>Evangelism
                        </a>
                    </li>
                    <li class="nav-item mb-20" role="presentation">
                        <a class="nav-link" id="pill-chat-tab" data-toggle="pill" href="#chat-tab" role="tab" aria-controls="chat-tab" aria-selected="false">
                            <i class="circle-shape"></i>Prophetic
                        </a>
                    </li>
                    <li class="nav-item mb-20" role="presentation">
                        <a class="nav-link" id="pill-analytics-tab" data-toggle="pill" href="#analytics-tab" role="tab" aria-controls="analytics-tab" aria-selected="false">
                            <i class="circle-shape"></i>Choir
                        </a>
                    </li>
                    <li class="nav-item mb-20" role="presentation">
                        <a class="nav-link" id="pill-collaboration-tab" data-toggle="pill" href="#collaboration-tab" role="tab" aria-controls="collaboration-tab" aria-selected="false">
                            <i class="circle-shape"></i>Sidemen & Sidewomen
                        </a>
                    </li>
                </ul>
                
                <div class="tab-content" id="pills-tabContent" data-aos="fade-in">
                    <div class="tab-pane fade show active" id="management-tab" role="tabpanel" aria-labelledby="pill-management-tab">
                        <div class="row align-items-center">
                            <div class="col-lg-8 anim-to-top">
                                <!-- <img class="img-fluid rounded-lg shadow" src="{% static 'images/screenshots/how-it-works-1.jpg' %}" alt=""> -->
                                <img class="img-fluid rounded-lg shadow" src="{% static 'images/four-corners/media-unit.webp' %}" alt="evangelist" style="border-radius: 15px !important;">  <!-- style="width: 98%; height:350px;" -->
                            </div>
                            <div class="col-lg-4 mt-4 mt-lg-0 anim-to-bottom" style="padding-left: 20px;">
                                <h2 class="section-title"> <strong>Evangelism</strong></h2>
                                <p class="mb-30 text-justify">We spread the Good News and share the transformative power of God's grace through our evangelism initiatives. Join us in spreading the Good News of salvation, sharing God's love, and inviting souls to experience His transformative grace.</p>
                                <a href="{% url 'four-corners' %}" class="btn btn-primary has-icon">View More
                                    <span class="icon"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.5522 6.66669L20.5522 14.6667C21.0329 15.1473 21.0699 15.9036 20.6632 16.4267L20.5522 16.5523L12.5522 24.5523L10.6666 22.6667L17.7228 15.6095L10.6666 8.55231L12.5522 6.66669Z" fill="currentColor"/></svg></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="chat-tab" role="tabpanel" aria-labelledby="pill-chat-tab">
                        <div class="row align-items-center">
                            <div class="col-lg-8 anim-to-top">
                                <img class="img-fluid rounded-lg shadow" src="{% static 'images/four-corners/prophetic.webp' %}" alt="prophet" style="border-radius: 15px !important;">
                            </div>
                            <div class="col-lg-4 mt-4 mt-lg-0 anim-to-bottom">
                                <h2 class="section-title"> <strong>Prophet & Prophetess</strong></h2>
                                <p class="mb-30 text-justify">We explore the prophetic words and divine guidance to navigate life's journey with clarity, purpose, and spiritual insight. Embrace this divine revelation!</p>
                                <a href="{% url 'four-corners' %}" class="btn btn-primary has-icon">View More
                                    <span class="icon"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.5522 6.66669L20.5522 14.6667C21.0329 15.1473 21.0699 15.9036 20.6632 16.4267L20.5522 16.5523L12.5522 24.5523L10.6666 22.6667L17.7228 15.6095L10.6666 8.55231L12.5522 6.66669Z" fill="currentColor"/></svg></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="analytics-tab" role="tabpanel" aria-labelledby="pill-analytics-tab">
                        <div class="row align-items-center">
                            <div class="col-lg-8 anim-to-top">
                                <img class="img-fluid rounded-lg shadow" src="{% static 'images/four-corners/choir.webp' %}" alt="choir" style="border-radius: 15px !important;">
                            </div>
                            <div class="col-lg-4 mt-4 mt-lg-0 anim-to-bottom">
                                <h2 class="section-title"> <strong>Choir</strong></h2>
                                <p class="mb-30 text-justify">We raise our voices in praise and harmony to the Almighty, uplifting hearts and souls through sacred melodies that resonate with divine grace.</p>
                                <a href="{% url 'four-corners' %}" class="btn btn-primary has-icon">View More
                                    <span class="icon"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.5522 6.66669L20.5522 14.6667C21.0329 15.1473 21.0699 15.9036 20.6632 16.4267L20.5522 16.5523L12.5522 24.5523L10.6666 22.6667L17.7228 15.6095L10.6666 8.55231L12.5522 6.66669Z" fill="currentColor"/></svg></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="collaboration-tab" role="tabpanel" aria-labelledby="pill-collaboration-tab">
                        <div class="row align-items-center">
                            <div class="col-lg-8 anim-to-top">
                                <img class="img-fluid rounded-lg shadow" src="{% static 'images/four-corners/sidemen.webp' %}" alt="sidemen" style="border-radius: 15px !important;">
                            </div>
                            <div class="col-lg-4 mt-4 mt-lg-0 anim-to-bottom">
                                <h2 class="section-title"> <strong>Sidemen & Sidewomen</strong></h2>
                                <p class="mb-30 text-justify">
                                    We upholds the sanctity of worship, ensures the sanctuary remains a sacred space and allowing hearts and minds 
                                    to be fully engaged in spiritual reflection, prayer, and communion with the divine during their time of devotion.
                                </p>
                                <a href="{% url 'four-corners' %}" class="btn btn-primary has-icon">View More
                                    <span class="icon"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.5522 6.66669L20.5522 14.6667C21.0329 15.1473 21.0699 15.9036 20.6632 16.4267L20.5522 16.5523L12.5522 24.5523L10.6666 22.6667L17.7228 15.6095L10.6666 8.55231L12.5522 6.66669Z" fill="currentColor"/></svg></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of how-it-works tab -->

<!-- start of tools-use -->
<section class="section-padding tools-use-section has-shapes bg-light-gray has-bg-brash bg-brash-y" style="background-image: url({% static 'images/brushes/section-top.svg' %}), url({% static 'images/brushes/section-bottom.svg' %});">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-4 mt-4 mt-lg-0">
                <h2 class="section-title">The <strong>Eight Elevators</strong></h2>
                <p>
                    Meet the faithful patriarchs and matriarchs of our spiritual community, guided by God's wisdom and compassion, leading us on our journey of faith unto good works.
                </p>
            </div>
            <div class="col-lg-6">
                <ul class="inCircle-tools d-block d-sm-flex align-items-center justify-content-center" id="inCircle-element">
                    <li class="has-centered lg d-inline-flex align-items-center justify-content-center bg-white shadow rounded-circle">
                        <img src="{% static 'images/index/elevator.webp' %}" alt="">
                    </li>
                    <li class="md d-inline-flex align-items-center justify-content-center bg-white shadow rounded-circle">
                        <img src="{% static 'images/index/elevator-2.webp' %}" alt="">
                    </li>
                    <li class="xs d-inline-flex align-items-center justify-content-center bg-white shadow rounded-circle">
                        <img src="{% static 'images/index/elevator-3.webp' %}" alt="">
                    </li>
                    <li class="md d-inline-flex align-items-center justify-content-center bg-white shadow rounded-circle">
                        <img src="{% static 'images/index/elevator-4.webp' %}" alt="">
                    </li>
                    <li class="sm d-inline-flex align-items-center justify-content-center bg-white shadow rounded-circle">
                        <img src="{% static 'images/index/elevator-5.webp' %}" alt="">
                    </li>
                    <li class="md d-inline-flex align-items-center justify-content-center bg-white shadow rounded-circle">
                        <img src="{% static 'images/index/elevator-6.webp' %}" alt="">
                    </li>
                    <li class="md d-inline-flex align-items-center justify-content-center bg-white shadow rounded-circle">
                        <img src="{% static 'images/index/elevator-7.webp' %}" alt="">
                    </li>
                    <li class="xs d-inline-flex align-items-center justify-content-center bg-white shadow rounded-circle">
                        <img src="{% static 'images/index/elevator-8.webp' %}" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
</section>
<!-- end of tools-use -->

<!-- start of growth-rate -->
<section class="section-padding pb-50">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <h2 class="section-title"> <strong>Worship with us</strong></h2>
                        <p class="border-bottom pb-30 mr-0 mr-lg-5">
                            With gladness in our heart, we welcome members and visitors  
                            from across the country to worship with us in Omotola Cathedral 
                            and witness the first-hand proof that the Grace 
                            of our Lord Jesus Christ is with us always.
                        </p>


                        <div class="row colored-icon-box">
                        </div>
                    </div>
                    <div class="col-lg-6 mt-5 mt-lg-0">
                        <div class="row colored-icon-box">
                            <div class="col-sm-6" data-aos="fade-up">
                                <div class="icon-box text-center shadow px-3 px-md-5 px-lg-2 py-5 mb-30">
                                    <i class="ti-bell icon"></i>
                                    <h4 class="font-weight-bold text-black-200">Glorious Service</h4>
                                    <h4>(10:00 AM)</h4>
                                    <h4>Sundays</h4>
                                </div>
                            </div>
                            <div class="col-sm-6" data-aos="fade-up" data-aos-delay="100">
                                <div class="icon-box text-center shadow px-3 px-md-5 px-lg-2 py-5 mb-30">
                                    <i class="ti-bell icon"></i>
                                    <h4 class="font-weight-bold text-black-200">Seekers Service</h4>
                                    <h4>(09:00 AM)</h4>
                                    <h4>Wednesdays</h4>
                                </div>
                            </div>
                            <div class="col-sm-6" data-aos="fade-up" data-aos-delay="200">
                                <div class="icon-box text-center shadow px-3 px-md-5 px-lg-2 py-5 mb-30">
                                    <i class="ti-bell icon"></i>
                                    <h4 class="font-weight-bold text-black-200">Mercy Day Service</h4>
                                    <h4>(06:00 PM)</h4>
                                    <h4>Wednesdays</h4>
                                </div>
                            </div>
                            <div class="col-sm-6" data-aos="fade-up" data-aos-delay="300">
                                <div class="icon-box text-center shadow px-3 px-md-5 px-lg-2 py-5 mb-30">
                                    <i class="ti-bell icon"></i>
                                    <h4 class="font-weight-bold text-black-200">Power Day Service</h4>
                                    <h4>(06:00 PM)</h4>
                                    <h4>Fridays</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="mt-50 text-center">
                        <a href="{% url 'services' %}" class="btn btn-primary has-icon" style="border-radius: 20px;">View All Our Church Services
                            <span class="icon" style="border-radius: 0px 20px 20px 0px;"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.5522 6.66669L20.5522 14.6667C21.0329 15.1473 21.0699 15.9036 20.6632 16.4267L20.5522 16.5523L12.5522 24.5523L10.6666 22.6667L17.7228 15.6095L10.6666 8.55231L12.5522 6.66669Z" fill="currentColor"/></svg></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of growth-rate -->

<!-- start of image-info -->
<section class="section-padding image-info-section has-shapes bg-light-gray has-bg-brash bg-brash-y" style="background-image: url({% static 'images/brushes/section-top.svg' %}), url({% static 'images/brushes/section-bottom.svg' %});">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-7">
                <div class="has-shapes">
                    <img class="img-fluid py-4 my-2" src="{% static 'images/index/jerimoyahmah.webp' %}" alt="jerimoyahmah">

                </div>
            </div>
            <div class="col-lg-4 col-md-5">
                <h2 class="section-title">Church procession <strong>Jerimoyahmah</strong></h2>
                <p>Every year, The Celestial Church of Christ, Omotola Cathedral hosts thousands of members. 
                    People travel from across the country to fellowship and receive from the grace mandate on 
                    the church that our Lord Jesus Christ has given Reverend S.B.J. Oshoffa.</p>
            </div>
        </div>
    </div>

</section>
<!-- end of image-info -->

<!-- start section -->
<section class="section-padding">
    <div class="container">
        <div class="row align-items-center justify-content-around">
            <div class="col-lg-5 col-md-8 col-sm-10 mb-5">
                <h2 class="section-title">Who Are We And <strong>What Is Our Identity?</strong></h2>
                <p class="pb-20 border-bottom mb-20">
                    We are Celestial Church of Christ, Omotola Cathedral and our identity is our Lord Jesus Christ with divine fellowship in:</p>
                <ul class="check-list list-unstyled">
                    <li class="mb-15">
                        <svg width="16" height="11" viewBox="0 0 18 13" class="text-primary mr-2" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 6.125L6.91892 11L16 2" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></svg>
                        Continous study of the Word
                    </li>
                    <li class="mb-15">
                        <svg width="16" height="11" viewBox="0 0 18 13" class="text-primary mr-2" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 6.125L6.91892 11L16 2" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></svg>
                        Fervency in prayer and fasting
                    </li>
                    <li>
                        <svg width="16" height="11" viewBox="0 0 18 13" class="text-primary mr-2" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 6.125L6.91892 11L16 2" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></svg>
                        Glorious sounds of worship
                    </li>
                </ul>
            </div>
            <div class="col-lg-5 col-md-8 col-sm-10">
                <div class="d-inline-block has-shadow shadow-right has-shapes">
                    <img class="img-fluid rounded-lg" src="{% static 'images/index/oshoffa.webp' %}" alt="celestial-identity">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->

<!-- start of birthday-carousel -->
<section class="section-padding overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-md-12" data-aos="fade-left"> 
                <div class="brand-carousel" style="margin: 20px;">

                    {% for birthday in birthdays %}
                        <div class="brand-item d-flex align-items-center justify-content-center">  
                            <img class="img-fluid" src="data:image/webp;base64,{{birthday.image}}" alt="birthday" style="opacity: 1; -webkit-filter: grayscale(0); filter: grayscale(0); border-radius: 10px;"></div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>
</section> <br><br>
<!-- end section -->


<!-- start of testimonials-carousel -->
<section class="section-padding pt-0 testimonials-section has-shapes">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-9 text-center mb-30">
                <h2 class="section-title"><strong>Testimonies</strong></h2>
                <p>
                    Experience the power of divine transformation through the heartfelt 
                    testimonies of our congregation and discover the profound impact of grace in action
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="testimonials-carousel">
                    {% for testimony in testimonys %}
                        <div class="testimonials-item bg-white">
                            <div class="block border rounded bg-white">
                                <svg class="icon mb-15" width="25" height="10" viewBox="0 0 40 35" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.75001 35L13.75 35C15.8203 35 17.5 33.3203 17.5 31.25L17.5 21.25C17.5 19.1797 15.8203 17.5 13.75 17.5L7.50001 17.5L7.50001 12.5C7.50001 9.74219 9.74219 7.5 12.5 7.5L13.125 7.5C14.1641 7.5 15 6.66406 15 5.625L15 1.875C15 0.83594 14.1641 2.25865e-06 13.125 2.34949e-06L12.5 2.40413e-06C5.59375 3.00789e-06 5.05862e-06 5.59375 5.66238e-06 12.5L7.30156e-06 31.25C7.48255e-06 33.3203 1.6797 35 3.75001 35ZM26.25 35L36.25 35C38.3203 35 40 33.3203 40 31.25L40 21.25C40 19.1797 38.3203 17.5 36.25 17.5L30 17.5L30 12.5C30 9.74219 32.2422 7.5 35 7.5L35.625 7.5C36.6641 7.5 37.5 6.66406 37.5 5.625L37.5 1.875C37.5 0.835938 36.6641 2.91637e-07 35.625 3.82475e-07L35 4.37114e-07C28.0937 1.04088e-06 22.5 5.59375 22.5 12.5L22.5 31.25C22.5 33.3203 24.1797 35 26.25 35Z" fill="currentColor"/></svg>
                                {% if testimony.testimony_content %}
                                    <h6 id="half-{{ testimony.id }}">{{ testimony.testimony_content|safe|linebreaks|truncatewords:15 }}<a href="javascript:void();" onclick="testimony(event, '{{testimony.id}}')">Read more</a></h6>
                                    <h6 id="full-{{ testimony.id }}" style="display: none;">{{ testimony.testimony_content|safe|linebreaks }}<a href="javascript:void();" onclick="lessTestimony(event, '{{testimony.id}}')">Read less</a></h6>
                                {% endif %}
                                
                                <img src="{% static 'images/testimonials/arrow.png' %}" alt="testimony">
                                <style>
                                    #read:hover{
                                        color: black !important;
                                    }
                                </style>
                            </div>
                            <div class="user-info d-flex align-items-center mt-30">
                                <!-- <img class="d-inline rounded-circle mr-3" src="images/users/01.jpg" alt=""> -->
                                <div class="pt-1">
                                    <h5>{{testimony.testifier_name}}</h5>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- testimonials-item -->
                </div>
            </div>
            <div class="col-md-12">
                <div class="mt-50 text-center">
                    <a href="{% url 'testimonies' %}" class="btn btn-primary has-icon" style="border-radius: 20px;">View All Testimonies
                        <span class="icon" style="border-radius: 0px 20px 20px 0px;"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.5522 6.66669L20.5522 14.6667C21.0329 15.1473 21.0699 15.9036 20.6632 16.4267L20.5522 16.5523L12.5522 24.5523L10.6666 22.6667L17.7228 15.6095L10.6666 8.55231L12.5522 6.66669Z" fill="currentColor"/></svg></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</section>
<!-- end of testimonials-carousel -->



<br><br><br>
<div class="map" >
    <div class="container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.2989419415867!2d3.2502689762231363!3d6.609728005123316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b9b918cd1cd1b%3A0xed97afe4b6c2ecc8!2sOmotola%20Central%20Parish!5e0!3m2!1sen!2sng!4v1699188521387!5m2!1sen!2sng" 
        width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.298162268123!2d3.255264013022626!3d6.609825275778488!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b9a808c563755%3A0x89787b800654fb83!2sCcc%20Omotola%20Ipaja!5e0!3m2!1sen!2sng!4v1709044254390!5m2!1sen!2sng" 
        width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->

        <!-- <div style="width: 100%"><iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=400&amp;hl=en&amp;q=omotola%20cathedral,%20church%20bus-stop%20ipaja%20ayobo%20lagos+(Omotola%20Cathedral)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
            </iframe>
        </div> -->
    </div>
</div>
<br><br><br>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $( document ).ready(function() {
        $('#exampleModal').modal('show');
        console.log( "ready!" );
    });



    function testimony(event, id){
        document.getElementById("half-" + id).style.display="none"
        $("#full-" + id).toggle();
    }

    function lessTestimony(event, id){
        document.getElementById("full-" + id).style.display="none"
        $("#half-" + id).toggle();
    }
</script>

{% endblock %}