{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- start of page-header -->
<section class="page-header bg-light-gray has-shapes has-bg-brash bg-brash-bottom" style="background-image: url({% static 'images/brushes/banner.svg' %})">
    <div class="container h-100">
        <div class="row d-flex align-items-center h-100">
            <div class="col-md-12 text-center">
                <h2 class="h1 font-weight-bold">Church Pictures</h2>
            </div>
        </div>
    </div>
</section>
<!-- end of page-header -->

<!-- start of picture-section -->
<section class="section-padding" data-aos="fade-in" data-aos-delay="150">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-6" data-aos="fade-up">
                <div class="px-3 px-md-5 px-lg-2 py-5 mb-30">
                    <img src="{% static 'images/index/oshoffa.webp' %}" alt="" width="100%" height="auto" style="border-radius: 10px;">
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="px-3 px-md-5 px-lg-2 py-5 mb-30">
                    <img src="{% static 'images/index/oshoffa.webp' %}" alt="" width="100%" height="auto" style="border-radius: 10px;">
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="px-3 px-md-5 px-lg-2 py-5 mb-30">
                    <img src="{% static 'images/index/oshoffa.webp' %}" alt="" width="100%" height="auto" style="border-radius: 10px;">
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="px-3 px-md-5 px-lg-2 py-5 mb-30">
                    <img src="{% static 'images/index/oshoffa.webp' %}" alt="" width="100%" height="auto" style="border-radius: 10px;">
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="px-3 px-md-5 px-lg-2 py-5 mb-30">
                    <img src="{% static 'images/index/oshoffa.webp' %}" alt="" width="100%" height="auto" style="border-radius: 10px;">
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                <div class="px-3 px-md-5 px-lg-2 py-5 mb-30">
                    <img src="{% static 'images/index/oshoffa.webp' %}" alt="" width="100%" height="auto" style="border-radius: 10px;">
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                <div class="px-3 px-md-5 px-lg-2 py-5 mb-30">
                    <img src="{% static 'images/index/oshoffa.webp' %}" alt="" width="100%" height="auto" style="border-radius: 10px;">
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
                <div class="px-3 px-md-5 px-lg-2 py-5 mb-30">
                    <img src="{% static 'images/index/oshoffa.webp' %}" alt="" width="100%" height="auto" style="border-radius: 10px;">
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="800">
                <div class="px-3 px-md-5 px-lg-2 py-5 mb-30">
                    <img src="{% static 'images/index/oshoffa.webp' %}" alt="" width="100%" height="auto" style="border-radius: 10px;">
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="900">
                <div class="px-3 px-md-5 px-lg-2 py-5 mb-30">
                    <img src="{% static 'images/index/oshoffa.webp' %}" alt="" width="100%" height="auto" style="border-radius: 10px;">
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="1000">
                <div class="px-3 px-md-5 px-lg-2 py-5 mb-30">
                    <img src="{% static 'images/index/oshoffa.webp' %}" alt="" width="100%" height="auto" style="border-radius: 10px;">
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="1100">
                <div class="px-3 px-md-5 px-lg-2 py-5 mb-30">
                    <img src="{% static 'images/index/oshoffa.webp' %}" alt="" width="100%" height="auto" style="border-radius: 10px;">
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}