{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- start of page-header -->
<section class="page-header bg-light-gray has-shapes has-bg-brash bg-brash-bottom" style="background-image:url(images/brushes/banner.svg)">
    <div class="container h-100">
        <div class="row d-flex align-items-center h-100">
            <div class="col-md-12 text-center">
                <h2 class="h1 font-weight-bold">Sermon Excerpts</h2>
            </div>
        </div>
    </div>
</section>
<!-- end of page-header -->

<!-- start of blog-section -->
<section class="section-padding pb-40" data-aos="fade-in" data-aos-delay="150">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-9 text-center mb-40">
                <h2 class="section-title">Find A <strong>Source Of Knowledge</strong></h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat sed.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-40">
                <div class="card border-0 h-100">
                    <a class="d-flex flex-fill align-items-center" href="blog-details.html"><img class="card-img-top rounded" src="images/blogs/01.jpg" alt="blog-image"></a>
                    <div class="p-25 pb-0">
                        <div class="post-category position-relative mb-15">
                            <a class="text-black-200 font-weight-600" href="#!">Lifestyle</a>
                        </div>
                        <a class="h4 font-weight-bold d-block mb-15" href="blog-details.html">Your ‘Surge Capacity’ Is Depleted It’s Why You Feel Awful to The Society</a>
                        <div class="post-meta font-weight-600 mb-15">
                            21 Jan, 2020<span class="mx-2">|</span>10 Mins Read
                        </div>
                        <p>Lorem ipsum dolor amet, consectetur adipiscing Pretium, purus eu nec vulputate vel habitant</p>
                    </div>
                </div>
                <!-- blog-post item -->
            </div>
            <div class="col-lg-4 col-md-6 mb-40">
                <div class="card border-0 h-100">
                    <a class="d-flex flex-fill align-items-center" href="blog-details.html"><img class="card-img-top rounded" src="images/blogs/02.jpg" alt="blog-image"></a>
                    <div class="p-25 pb-0">
                        <div class="post-category position-relative mb-15">
                            <a class="text-black-200 font-weight-600" href="#!">Technology</a>
                        </div>
                        <a class="h4 font-weight-bold d-block mb-15" href="blog-details.html">Your ‘Surge Capacity’ Is Depleted It’s Why You Feel Awful to The Society</a>
                        <div class="post-meta font-weight-600 mb-15">
                            21 Jan, 2020<span class="mx-2">|</span>10 Mins Read
                        </div>
                        <p>Lorem ipsum dolor amet, consectetur adipiscing Pretium, purus eu nec vulputate vel habitant</p>
                    </div>
                </div>
                <!-- blog-post item -->
            </div>
            <div class="col-lg-4 col-md-6 mb-40">
                <div class="card border-0 h-100">
                    <a class="d-flex flex-fill align-items-center" href="blog-details.html"><img class="card-img-top rounded" src="images/blogs/03.jpg" alt="blog-image"></a>
                    <div class="p-25 pb-0">
                        <div class="post-category position-relative mb-15">
                            <a class="text-black-200 font-weight-600" href="#!">Lifestyle</a>
                        </div>
                        <a class="h4 font-weight-bold d-block mb-15" href="blog-details.html">Your ‘Surge Capacity’ Is Depleted It’s Why You Feel Awful to The Society</a>
                        <div class="post-meta font-weight-600 mb-15">
                            21 Jan, 2020<span class="mx-2">|</span>10 Mins Read
                        </div>
                        <p>Lorem ipsum dolor amet, consectetur adipiscing Pretium, purus eu nec vulputate vel habitant</p>
                    </div>
                </div>
                <!-- blog-post item -->
            </div>
            <div class="col-lg-4 col-md-6 mb-40">
                <div class="card border-0 h-100">
                    <a class="d-flex flex-fill align-items-center" href="blog-details.html"><img class="card-img-top rounded" src="images/blogs/04.jpg" alt="blog-image"></a>
                    <div class="p-25 pb-0">
                        <div class="post-category position-relative mb-15">
                            <a class="text-black-200 font-weight-600" href="#!">Lifestyle</a>
                        </div>
                        <a class="h4 font-weight-bold d-block mb-15" href="blog-details.html">Your ‘Surge Capacity’ Is Depleted It’s Why You Feel Awful to The Society</a>
                        <div class="post-meta font-weight-600 mb-15">
                            21 Jan, 2020<span class="mx-2">|</span>10 Mins Read
                        </div>
                        <p>Lorem ipsum dolor amet, consectetur adipiscing Pretium, purus eu nec vulputate vel habitant</p>
                    </div>
                </div>
                <!-- blog-post item -->
            </div>
            <div class="col-lg-4 col-md-6 mb-40">
                <div class="card border-0 h-100">
                    <a class="d-flex flex-fill align-items-center" href="blog-details.html"><img class="card-img-top rounded" src="images/blogs/05.jpg" alt="blog-image"></a>
                    <div class="p-25 pb-0">
                        <div class="post-category position-relative mb-15">
                            <a class="text-black-200 font-weight-600" href="#!">Technology</a>
                        </div>
                        <a class="h4 font-weight-bold d-block mb-15" href="blog-details.html">Your ‘Surge Capacity’ Is Depleted It’s Why You Feel Awful to The Society</a>
                        <div class="post-meta font-weight-600 mb-15">
                            21 Jan, 2020<span class="mx-2">|</span>10 Mins Read
                        </div>
                        <p>Lorem ipsum dolor amet, consectetur adipiscing Pretium, purus eu nec vulputate vel habitant</p>
                    </div>
                </div>
                <!-- blog-post item -->
            </div>
            <div class="col-lg-4 col-md-6 mb-40">
                <div class="card border-0 h-100">
                    <a class="d-flex flex-fill align-items-center" href="blog-details.html"><img class="card-img-top rounded" src="images/blogs/06.jpg" alt="blog-image"></a>
                    <div class="p-25 pb-0">
                        <div class="post-category position-relative mb-15">
                            <a class="text-black-200 font-weight-600" href="#!">Lifestyle</a>
                        </div>
                        <a class="h4 font-weight-bold d-block mb-15" href="blog-details.html">Your ‘Surge Capacity’ Is Depleted It’s Why You Feel Awful to The Society</a>
                        <div class="post-meta font-weight-600 mb-15">
                            21 Jan, 2020<span class="mx-2">|</span>10 Mins Read
                        </div>
                        <p>Lorem ipsum dolor amet, consectetur adipiscing Pretium, purus eu nec vulputate vel habitant</p>
                    </div>
                </div>
                <!-- blog-post item -->
            </div>
        </div>
    </div>
</section>
<!-- end of blog-section -->


{% endblock %}
