{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<style>
    #service_type a:hover, #sermoner a:hover{
        text-decoration: none;
    }

    #sermoner{
        color: #ff3158 !important;
    }
</style>

<!-- start of page-header -->
<section class="page-header bg-light-gray has-shapes has-bg-brash bg-brash-bottom" style="background-image: url({% static 'images/brushes/banner.svg' %});">
    <div class="container h-100">
        <div class="row d-flex align-items-center h-100">
            <div class="col-md-12 text-center">
                <h2 class="h1 font-weight-bold">Sermon Excerpts</h2>
            </div>
        </div>
    </div>
</section>
<!-- end of page-header -->

<!-- start of blog-section -->
<section class="section-padding pb-40" data-aos="fade-in" data-aos-delay="150">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-9 text-center mb-40">
                <h2 class="section-title">Find A Source To <strong>Eternal Living</strong></h2>
                <p style="font-size: 17px;">"Now, take root downward in the Word, that you may bear fruit upward therein..." - Isaiah 37:31</p>
            </div>
        </div>
        <div class="row">
            {% for excerpt in excerpts %}
                <div class="col-lg-4 col-md-6 mb-40">
                    <div class="card border-0 h-100">
                        <a class="d-flex flex-fill align-items-center" href="{% url 'sermon-excerpts-byId' excerpt.id %}"><img class="card-img-top rounded" src="data:image/webp;base64,{{excerpt.sermoner_picture}}" width="50%" height="270px" alt="sermoner"></a>
                        <div class="p-25 pb-0">
                            <div class="post-category position-relative mb-15" id="service_type">
                                <a class="text-black-200 font-weight-600" href="{% url 'sermon-excerpts-byId' excerpt.id %}">{{excerpt.service_type}}</a>
                            </div>
                            <a class="h4 font-weight-bold d-block mb-15" href="{% url 'sermon-excerpts-byId' excerpt.id %}">{{excerpt.topic}}</a>
                            <div class="post-meta font-weight-600 mb-15" id="sermoner">
                                {{excerpt.date_created|naturaltime}}<span class="mx-2">|</span>{{excerpt.sermoner}}
                            </div>
                            <p class="text-justify">{{excerpt.content|safe|linebreaks|truncatewords:30}}</p>
                        </div>
                    </div>
                    <!-- blog-post item -->
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- end of blog-section -->


{% endblock %}
